{% extends "base.html" %}


{% block content %}

<h2>加班記錄</h2>

<table>
  <thead>
    <tr>
      <th>使用者</th>
      <th>狀態</th>
      <th>開始時間</th>
      <th>結束時間</th>
      <th>分鐘</th>
      <th>原因</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in pagination.page.object_list %}
    <tr>
      <td>{{ obj.user.username }}</td>
      <td>{{ obj.status_name }}</td>
      <td>{{ obj.start_time|date:'Y-m-d H:i:s' }}</td>
      <td>{{ obj.end_time|date:'Y-m-d H:i:s' }}</td>
      <td>{{ obj.minutes }}</td>
      <td>{{ obj.reason }}</td>
      <td>

        <a href="">取消申請</a>
      
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
{{ pagination.render }}
</div>


{% endblock %}
